@model ShoppingCartViewModel



            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                Cart 
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>


